body{
  position:relative;
  margin: 0;
  padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999999;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li .navlink:hover {
    background-color: #111;
  }
  .navlink.activePage{
    background-color: #111;
  }
  /* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  .active {
    background-color: #4CAF50; */
  
  .scrolltotopbtn{

    position: fixed;
    bottom: 50px;
    right: 50px;
  }
  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    opacity: .7;
    z-index: 2;
  }
  .overlay-picture{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75% !important;
    height: auto !important;
    border: 2px solid black;
    z-index: 5;
  }

.fullscreen-video{
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  z-index: 5;
}

.bodyContainer {
  margin-top: 2em;
}
